body{
    display: grid;
    grid-template-columns: 1fr 200px 200px 1fr;
    grid-template-rows: 1fr 200px 200px 1fr;
} 

h1{

    background-color: rgba(0, 128, 0, 0.514);
    grid-column: 2 /span 2;
    text-align: center;

}

nav{
    background-color:brown;
    grid-column: 2 /span 2;
    grid-row:2;
    
}
ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

#article1{
    background-color: rgba(0, 0, 255, 0.486);
    grid-column: 1;
    grid-row: 3;
}

#article2{
    grid-column : 2 /span 2;
    grid-row: 3;
}

#article3{
    grid-column: 4;
    grid-row: 3;
}

footer{
    grid-column: 1;
    grid-row: 4
}